.hero-unit
  h2
    i.icon-book
    |  Documentation: 
  .row-fluid.doc-links
    .span3
      .doc-link
        a.first(href='#{path}node/pages/doc_init.html') Initialization Options
    .span3
      .doc-link
        a(href='#{path}node/pages/doc_features.html') Features
    .span3
      .doc-link
        a(href='#{path}node/pages/doc_express.html') Express Integration
    .span3
      .doc-link
        a.last(href='#{path}node/pages/doc_templates.html') Template Usage