{
  "env": {
    "development": {
      "presets": [ "es2015", "stage-0" ],
      "plugins": [
        ["transform-es2015-classes", { "loose": true }],
        "transform-proto-to-assign"
      ]
    },
    "rollup": {
      "presets": [ ["es2015", { "modules": false }], "stage-0"  ],
      "plugins": [
        "external-helpers",
        ["transform-es2015-classes", { "loose": true }],
        "transform-proto-to-assign"
      ]
    },
    "jsnext": {
      "presets": [ ["es2015", { "modules": false }], "stage-0"  ],
      "plugins": [
        ["transform-es2015-classes", { "loose": true }],
        "transform-proto-to-assign"
      ]
    }
  }
}
