parser: "@babel/eslint-parser"
// parserOptions:
//   requireConfigFile: false
extends: 
  - airbnb
  - prettier

rules:
  max-len: [0, 100]
  no-constant-condition: 0
  arrow-body-style: [1, "as-needed"]
  padded-blocks: [0, "never"]
  no-unused-vars: [2, {vars: all, args: none}]
  prefer-arrow-callback: 1
  no-plusplus: 0
  no-param-reassign: 0
  no-unused-expressions: 1
  import/extensions: 0
  comma-dangle: 0
  prefer-destructuring: 0
  default-param-last: 0
  prefer-spread: 0
  no-continue: 0
  no-constructor-return: 0
  consistent-return: 0
  no-nested-ternary: 0
  react/prop-types:
    - 0
    - ignore: #coming from hoc
      - location
      - fields
      - handleSubmit

globals:
  expect: true
  describe: true
  it: true
  before: true
  beforeEach: true
  after: true
  window: true
  sinon: true
