src/
test/
coverage/
assets/
.circleci/
.babelrc
.editorconfig
.eslintignore
.eslintrc
.gitignore
bower.json
gulpfile.js
karma.conf.js
karma.backward.conf.js
sample.html
.codeclimate.yml
.coveralls.yml
tsconfig.json
.prettierignore
.prettierrc.json
rollup.config.js
rollup.config.mjs
CHANGELOG.md
CONTRIBUTING.md
.github
.husky
examples/
vitest.workspace.mts