src/
test/
coverage/
assets/
.circleci/
.babelrc
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
sample.html
.codeclimate.yml
.coveralls.yml
tsconfig.json
tsconfig.lint.json
.prettierignore
.prettierrc.json
rollup.config.js
rollup.config.mjs
CHANGELOG.md
CONTRIBUTING.md
.github
.husky
examples/
vitest.*.mts