src/
test/
coverage/
assets/
.circleci/
.babelrc
.editorconfig
.eslintignore
.eslintrc
.gitignore
bower.json
gulpfile.js
karma.conf.js
karma.backward.conf.js
sample.html
.codeclimate.yml
.coveralls.yml
tsconfig.json
tsconfig.nonEsModuleInterop.json
.prettierignore
.prettierrc
rollup.config.js
rollup.config.mjs
tslint.json
CHANGELOG.md
CONTRIBUTING.md
.github
.husky
examples/