.feature, .features
	margin: 5px 0 25px 0

	ol, li
		margin: 0
		list-style: none

	code
		margin: 5px 0

.feature-title
	margin: 5px 0

.feature-description
	margin: 5px 0

	p:last-child
		margin-bottom: 0