/*
 * Main for API
 *
 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url("http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff") format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff") format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url("http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxuw_rQOTGi-AJs5XCWaKIhU.woff") format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url("http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff") format('woff');
}
body {
  background: #444;
  font: 13px/1.7em 'Open Sans';
  color: #999;
}
p {
  font: 13px/1.7em 'Open Sans';
}
input,
button,
select,
textarea {
  font-family: 'Open Sans';
}
.alert .close {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
}
.dropdown .dropdown-menu {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.btn-icon-only {
  padding-right: 3px;
  padding-left: 3px;
}
.brand {
  padding: 4px 20px;
}
.navbar .container {
  position: relative;
}
.navbar-inner {
  padding: 7px 0;
  background: #292929;
  border-bottom: 1px solid #121212;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.navbar-fixed-top {
  position: static;
}
.navbar .nav a {
  font-size: 11px;
}
.navbar .brand {
  font-weight: 600;
  position: relative;
  top: 2px;
}
.main {
  padding: 2em 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444), color-stop(1, #2b2b2b));
  background: -webkit-linear-gradient(top, #444 0%, #2b2b2b 100%);
  background: -moz-linear-gradient(top, #444 0%, #2b2b2b 100%);
  background: -o-linear-gradient(top, #444 0%, #2b2b2b 100%);
  background: -ms-linear-gradient(top, #444 0%, #2b2b2b 100%);
  background: linear-gradient(top, #444 0%, #2b2b2b 100%);
}
.content-container {
  display: block;
  width: auto;
  background: #f9f9f9;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px #b6b6b6;
  box-shadow: 0px 0px 2px #b6b6b6;
  padding: 20px;
}
.content-container h1 {
  margin-bottom: 0.4em;
  color: #444;
}
.extra {
  border-top: 1px solid #585858;
  border-bottom: 1px solid #000;
}
.extra-inner {
  padding: 20px 0;
  font-size: 11px;
  color: #bbb;
  background: #1a1a1a;
}
.extra a {
  color: #666;
}
.extra h4 {
  margin-bottom: 1em;
  font-weight: 400;
}
.extra ul {
  padding: 0;
  margin: 0;
}
.extra li {
  margin-bottom: 0.6em;
  list-style: none;
}
.footer {
  margin-top: 0;
  border-top: 1px solid #292929;
}
.footer-inner {
  padding: 15px 0;
  font-size: 12px;
  background: #111;
  color: #999;
  text-align: right;
}
.footer a {
  color: #999;
}
.footer a:hover {
  color: #fff;
  text-decoration: none;
}
.widget {
  position: relative;
  clear: both;
  width: auto;
  margin-bottom: 2em;
  overflow: hidden;
}
.widget-header {
  position: relative;
  height: 40px;
  line-height: 40px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #e9e9e9));
  background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  border: 1px solid #d5d5d5;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-background-clip: padding-box;
}
.widget-header h3 {
  position: relative;
  top: 2px;
  left: 10px;
  display: inline-block;
  margin-right: 3em;
  font-size: 14px;
  font-weight: 800;
  color: #555;
  line-height: 18px;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.5);
}
.widget-header [class^="icon-"],
.widget-header [class*=" icon-"] {
  display: inline-block;
  margin-left: 13px;
  margin-right: -2px;
  font-size: 16px;
  color: #555;
  vertical-align: middle;
}
.widget-content {
  padding: 20px 15px 15px;
  background: #fff;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.widget-header+.widget-content {
  border-top: none;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}
.widget-content:before,
.widget-content:after {
  content: "";
  display: table;
}
.widget-content:after {
  clear: both;
}
.widget-content {
  zoom: 1;
}
.feature,
.features {
  margin: 5px 0 25px 0;
}
.feature ol,
.features ol,
.feature li,
.features li {
  margin: 0;
  list-style: none;
}
.feature code,
.features code {
  margin: 5px 0;
}
.feature-title {
  margin: 5px 0;
}
.feature-description {
  margin: 5px 0;
}
.feature-description p:last-child {
  margin-bottom: 0;
}
.documentation code {
  font-size: 10px;
}
.documentation .hero-unit {
  padding: 20px 60px;
}
.documentation .hero-unit h1,
.documentation .hero-unit h2,
.documentation .hero-unit h3 {
  border: none;
  padding: 0;
}
.documentation .hero-unit .doc-links .span4,
.documentation .hero-unit .doc-links .span3 {
  margin: 0;
}
.documentation .hero-unit .doc-links .doc-link a {
  display: block;
  border: solid 1px #e6e6e6;
  border-right: solid 1px #ccc;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e6e6e6), color-stop(1, #ccc));
  background: -webkit-linear-gradient(top, #e6e6e6 0%, #ccc 100%);
  background: -moz-linear-gradient(top, #e6e6e6 0%, #ccc 100%);
  background: -o-linear-gradient(top, #e6e6e6 0%, #ccc 100%);
  background: -ms-linear-gradient(top, #e6e6e6 0%, #ccc 100%);
  background: linear-gradient(top, #e6e6e6 0%, #ccc 100%);
  text-align: center;
  padding: 20px 10px;
  color: #444;
  font-size: 14px;
}
.documentation .hero-unit .doc-links .doc-link a:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #999), color-stop(1, #b3b3b3));
  background: -webkit-linear-gradient(top, #999 0%, #b3b3b3 100%);
  background: -moz-linear-gradient(top, #999 0%, #b3b3b3 100%);
  background: -o-linear-gradient(top, #999 0%, #b3b3b3 100%);
  background: -ms-linear-gradient(top, #999 0%, #b3b3b3 100%);
  background: linear-gradient(top, #999 0%, #b3b3b3 100%);
  text-decoration: none;
}
.documentation .hero-unit .doc-links .doc-link a.first {
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.documentation .hero-unit .doc-links .doc-link a.last {
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.documentation h2,
.documentation h3 {
  color: #444;
  border-left: solid 3px #e6e6e6;
  border-bottom: solid 1px #e6e6e6;
  padding: 6px 10px 6px 15px;
  margin: 20px 0 10px 0;
}
.documentation h2:first-child,
.documentation h3:first-child {
  margin: 0 0 10px 0;
}
.documentation h2 {
  padding: 10px 10px 10px 15px;
  border-left: solid 3px #ccc;
}
.downloads .btn {
  display: block;
  margin: 5px 0;
}
#mocha {
  position: relative;
}
#mocha ul,
#mocha li {
  margin: 0;
  padding: 0;
}
#mocha ul {
  list-style: none;
}
#mocha h1,
#mocha h2 {
  margin: 0;
}
#mocha h1 {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 200;
}
#mocha h1 a {
  text-decoration: none;
  color: inherit;
}
#mocha h1 a:hover {
  text-decoration: underline;
}
#mocha .suite .suite h1 {
  margin-top: 0;
  font-size: 15px;
}
#mocha h2 {
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
}
#mocha .suite {
  margin-left: 15px;
}
#mocha .test {
  margin-left: 15px;
}
#mocha .test h2 {
  line-height: 18px;
}
#mocha .test:hover h2::after {
  position: relative;
  top: 0;
  right: -10px;
  content: '(view source)';
  font-size: 12px;
  font-family: arial;
  color: #888;
}
#mocha .test.pending:hover h2::after {
  content: '(pending)';
  font-family: arial;
}
#mocha .test.pass.medium .duration {
  background: #c09853;
}
#mocha .test.pass.slow .duration {
  background: #b94a48;
}
#mocha .test.pass::before {
  content: '✓';
  font-size: 12px;
  display: block;
  float: left;
  margin-right: 5px;
  color: #00d6b2;
}
#mocha .test.pass .duration {
  font-size: 9px;
  margin-left: 5px;
  padding: 2px 5px;
  color: #fff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#mocha .test.pass.fast .duration {
  display: none;
}
#mocha .test.pending {
  color: #0b97c4;
}
#mocha .test.pending::before {
  content: '◦';
  color: #0b97c4;
}
#mocha .test.fail {
  color: #c00;
}
#mocha .test.fail pre {
  color: #000;
}
#mocha .test.fail::before {
  content: '✖';
  font-size: 12px;
  display: block;
  float: left;
  margin-right: 5px;
  color: #c00;
}
#mocha .test pre.error {
  color: #c00;
}
#mocha .test pre {
  display: inline-block;
  font: 12px/1.5 monaco, monospace;
  margin: 5px;
  padding: 15px;
  border: 1px solid #eee;
  border-bottom-color: #ddd;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px #eee;
}
#error {
  color: #c00;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 1px;
}
#stats {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 12px;
  margin: 0;
  color: #888;
}
#stats .progress {
  height: 40px;
  float: right;
  padding-top: 0;
}
#stats em {
  color: #000;
}
#stats li {
  display: inline-block;
  margin: 0 5px;
  list-style: none;
  padding-top: 11px;
}
code .comment {
  color: #ddd;
}
code .init {
  color: #2f6fad;
}
code .string {
  color: #5890ad;
}
code .keyword {
  color: #8a6343;
}
code .number {
  color: #2f6fad;
}
@media (max-width: 767px) {
  .main {
    padding: 10px;
    margin-right: -20px;
    margin-left: -20px;
  }
  .extra {
    margin-right: -20px;
    margin-left: -20px;
  }
  .extra .container {
    padding: 0 20px;
  }
  .footer {
    margin-right: -20px;
    margin-left: -20px;
  }
  .footer .container {
    padding: 0 20px;
  }
  .footer .footer-terms {
    text-align: left;
  }
  .footer .footer-terms a {
    margin-left: 0;
    margin-right: 1em;
  }
}
@media (max-width: 979px) {
  .navbar-fixed-top {
    position: static;
    margin-bottom: 0;
  }
}
