fieldset
    .clearfix
        label(for="firstname") firstname:
        .input
            input.xlarge(id='firstname', type='text', placeholder='firstname...', value='{{ firstname }}')

    .clearfix
        label(for="lastname") firstname:
        .input
            input.xlarge(id='lastname', type='text', placeholder='lastname...', value='{{ lastname }}')