.hero-unit
  h2
    i.icon-book
    |  Documentation: 
  .row-fluid.doc-links
    .span4
      .doc-link
        a.first(href='/pages/doc_init.html') Initialisation Options
    .span4
      .doc-link
        a(href='/pages/doc_features.html') Features
    .span4
      .doc-link
        a.last(href='/pages/doc_jquery.html') JQuery Integration