.extra
  .extra-inner
    .container
      .row
        .span4
          h4 about me
          ul
            li
              a(href='https://github.com/jamuhl')
                i.icon-github
                |  github
            li
              a(href='https://twitter.com/jamuhl')
                i.icon-twitter
                |  twitter
             
        .span4
          h4 help
          ul
            li
              a(href='https://github.com/jamuhl/i18next-node/issues') 
                | issues (
                i.icon-github
                | )

        .span4
          h4 legal
          ul
            li
              a(href='https://github.com/jamuhl/i18next-node/blob/master/license') license