meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='keywords', content='i18n, internationalization, translation, javascript, nodejs, js')

if (typeof(title) != 'undefined')
  title=title
else
  title i18next-node - i18n for node.js

//- Application styles
link(href='#{path}public/css/index.css', rel='stylesheet')

// HTML5 shim, for IE6-8 support of HTML5 elements
// if lt IE 9
  script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

// if lt IE 8
  link(href='#{path}public/css/font-awesome-ie7-2.0.css', rel='stylesheet', type='text/css')



