$white=						#FFF
$black=						#000

// grays
$inversTextGray=			#EEE
$textGray= 					#999
$headerTextGray=			#444

$ultralightGray=			#CCC
$lightGray=					#999
$mediumGray= 				#666
$darkGray= 					#333
$ultradarkGray=				#111

// highlights
$orange=					#F90
$red=						#DB0000

// background
$backgroundGray=			#E9E9E9

// shortcut
$shortcut=					#F3F3F3
$shortcutHover=				#E8E8E8
$shortcutDisabled=			#FAFAFA
$shortcutDisabledHover=		#F3F3F3

// commands
$command=					#111
$commandHover=				#000
$commandHActive=			#F90
$commandDisabled=			#CCC
$commandDisabledHover=		#111
