/*------------------------------------------------------------------
[1. Max Width: 480px]
*/

//@media (max-width: 480px) 

/*------------------------------------------------------------------
[1. Max Width: 767px]
*/

@media (max-width: 767px)       
    .main 
        padding: 10px
        margin-right: -20px
        margin-left: -20px  
    
    .extra 
        margin-right: -20px
        margin-left: -20px
    
    
    .extra .container 
        padding: 0 20px
    
    
    .footer 
        margin-right: -20px
        margin-left: -20px
    
    
    .footer .container 
        padding: 0 20px
    
    
    .footer .footer-terms 
        text-align: left
    
    
    .footer .footer-terms a 
        margin-left: 0
        margin-right: 1em

/*------------------------------------------------------------------
[3. Max Width: 979px]
*/

@media (max-width: 979px) 
    .navbar-fixed-top 
        position: static       
        margin-bottom: 0


/*------------------------------------------------------------------
[2. Max Width: 1200px]
*/

//@media (min-width: 1200px)   
