html,
body {
  background-color: #eee;
}
body {
  padding-top: 40px;
/* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center;
/* center align it with the container */
}
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px;
/* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}
.content .span10,
.content .span4 {
  min-height: 500px;
}
.content .span4 {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}
.topbar .btn {
  border: 0;
}
.actions.left {
  padding: 17px 20px 18px 20px;
}
.personItem {
  position: relative;
  border: solid 1px #0069d6;
  background: #fff;
  padding: 0 60px 0 20px;
  margin: 4px 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.personItem:hover {
  border: solid 1px #0069d6;
  border-left: solid 2px #0069d6;
  color: #0069d6;
  padding: 0 60px 0 19px;
}
.personItem .name {
  font-family: Arial, sans-serif;
  font-size: 12pt;
}
.personItem.selected {
  border: solid 1px #0069d6;
  border-left: solid 2px #0069d6;
  color: #0069d6;
  padding: 0 60px 0 19px;
}
.personItem .itemcontent {
  padding: 12px 0 10px 0;
}
.personItem .commands {
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 5px;
}
.personItem .commands a {
  margin: 0 4px;
}
