- var path = '../'
- var title = 'i18next - template, helpers, snipplets'
!!! 5
html(lang="en")
  head
    include ../includes/layout/head

    title i18next Documentation: Features

  body
    include ../includes/layout/header
          
    include ../includes/layout/content
      .documentation
        include ../includes/doc_hero

        h2 Template & Helpers

        h3 with handlebars

        .row-fluid
          .span4
            h4.feature-title Basic handlebars helper

          .span8
            .feature
              pre
                code
                  | Handlebars.registerHelper('t', function(i18n_key) {
                  |   var result = i18next.t(i18n_key);
                  | 
                  |   return new Handlebars.SafeString(result);
                  | });

              .alert.alert-info.feature-description
                p 
                  h6 Usage in template
                  pre
                    code
                      | span {{t "my.key" }}

        .row-fluid
          .span4
            h4.feature-title Extended handlebars helper

          .span8
            .feature
              pre
                code
                  | Handlebars.registerHelper('tr', function(context, options) { 
                  |    var opts = i18n.functions.extend(options.hash, context);
                  |    if (options.fn) opts.defaultValue = options.fn(context);
                  | 
                  |    var result = i18next.t(opts.key, opts);
                  | 
                  |    return new Handlebars.SafeString(result);
                  | });

              .alert.alert-info.feature-description
                p 
                  h6 Usage in template
                  pre
                    code
                      | {{#tr this key="trans.sample.handlebarsExtended" add="from helper" }}
                      | h6 Some Text
                      | p some paragraph with variable __add__ __addFromContext__
                      | {/tr}
                  p the passed in options from helper will be merged with the one of the context (this)

        h3 JQuery UI
        .row-fluid

          .span4
            h4.feature-title JQuery UI - Button & Dialog

          .span8
            .feature
              .alert.alert-info.feature-description
                p 
                  a(href='https://github.com/jlgrall') jlgrall
                  | provides a solution to use i18next data-attribute in combination with JQuery UI.

                p for futher detail have a look at:
                ul
                  li
                    a(href='https://github.com/jamuhl/i18next/issues/29')
                      i.icon-comments-alt
                      |  the discussion
                  li
                    a(href='https://gist.github.com/3353697')
                      i.icon-github
                      |  gist for dialog
                  li
                    a(href='https://gist.github.com/3352659')
                      i.icon-github
                      |  gist for button

