- var path = '../'
!!! 5
html(lang="en")
  head
    include ../includes/layout/head

    script(src="http://code.jquery.com/jquery-1.7.min.js", type="text/javascript")
    script(src="#{path}public/download/latest/i18next.js", type="text/javascript")

    title i18next Sample

  body
    include ../includes/layout/header
          
    include ../includes/layout/content
      .hero-unit
        h2 i18next - Sample
        p A little sample to see i18next in action.

      .documentation
        h3 you can switch lng via ?setLng='lngTag'
        a#en(href="?setLng=en-US") en-US
        span  | 
        a#de(href="?setLng=de-DE") de-DE

        .feature
          h3 translated via $.t('app.name')
          span#appname
          span  -  
          span#apparea
          br
          button#add.btn hello

        .feature
          h4 with value insert $.t('app.insert', {youAre: 'great'})
          span#insert

        .feature
          h4 with plural $.t('app.insert', {youAre: 'great'})
          span#singular
          span  - 
          span#plural

        .feature
          h4 nesting
          span#nesting

        .feature
          h4 with translation context $.t('friend_context', {context: 'male || female'})
          span#male
          span  - 
          span#female
        
        .feature
          h3 set via attribute 'data-i18n' and $('.nav').i18n();

          h4 basic text
          ul.nav
              li: a(href="#", data-i18n="nav.home")
              li: a(href="#", data-i18n="nav.1")
              li: a(href="#", data-i18n="nav.2")


          button#btn.btn(data-i18n="ns.common:add")

        .feature
          h4 extended usage of 'data-i18n' - apply to other attributes
          #extendedAttr
              input(data-i18n="[placeholder]ns.common:attr.placeholder;", type="text")
              br
              button.btn(data-i18n="[title]ns.common:attr.title;btn.hoverMe;")



    include ../includes/layout/extra
      
    include ../includes/layout/footer
    
    include ../includes/layout/endscripts

    script
      $.i18n.init({
        ns: { namespaces: ['ns.common', 'ns.special'], defaultNs: 'ns.special'},
        resGetPath: '#{path}public/locales/__lng__/__ns__.json',
        useLocalStorage: false,
        debug: true
      }, function() {
          $('#add').text($.t('ns.common:add'));
          $('#appname').text($.t('app.name'));
          $('#apparea').text($.t('app.area'));
          $('#insert').text($.t('app.insert', {youAre: 'great'}))
          $('#singular').text($.t('app.child', {count: 1}))
          $('#plural').text($.t('app.child', {count: 3}))
          $('#nesting').text($.t('app.district'));
          $('#male').text($.t('app.friend_context', {context: 'male'}))
          $('#female').text($.t('app.friend_context', {context: 'female'}))

          $('.nav').i18n();
          $('#btn').i18n();
          $('#extendedAttr').i18n();
      });