.chart {
  margin: 0 auto;
  height:300px;
}

.chart rect {
  cursor:pointer;
}

.file-list li {
  border-bottom:1px solid #ccc;
  padding-bottom:10px;
  padding-top:10px;
}

.file-list li:nth-child(odd) {
  background-color: hsl(0, 0%, 98%);
}

.fade-left {
  background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.file-list li:nth-child(odd) .fade-left {
  background: -moz-linear-gradient(left,  rgba(249,249,249,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(249,249,249,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(249,249,249,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(249,249,249,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(249,249,249,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.plato-file-fade {
  position: absolute;
  height: 50px;
  z-index: 10;
  float: left;
  width:70px
}

.plato-file {
  white-space: nowrap;
}


.plato-file-link {
  text-align: right;
  direction: rtl;
  overflow: hidden;
  height:40px;
}

@media (max-width: 767px) {
  .plato-file-link {
    text-align: center;
  }
}

.plato-file-chart {
  height:40px;
}

.plato-file-link {
  font-size:20px;
  color: #334B6D;
  display:block;
  padding:12px 12px 12px 0;
  text-decoration: underline;
}

.plato-file-link:hover {
  color: #3B71B1;
}

