.page-header
    h1 Personen 
        small Supporting text or tagline
.row
    .span-two-thirds
        #index-view(style='display: none;')
            ul.unstyled(id='persons')
            .actions.left
                button.btn.primary(id='newPerson') hinzufügen
                
        #add-person-view(style='display: none;')
    
    .span-one-third
        #sidebar
